<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="CHEST_JOINT0_LOWER_LIMIT" value="-3.14159265359"/>
  <xacro:property name="CHEST_JOINT0_UPPER_LIMIT" value="3.14159265359"/>
  <xacro:property name="CHEST_JOINT0_VEL_LIMIT" value="2.79252680319"/>
  <xacro:property name="HEAD_JOINT0_LOWER_LIMIT" value="-1.57079632679"/>
  <xacro:property name="HEAD_JOINT0_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="HEAD_JOINT0_VEL_LIMIT" value="6.98131700798"/>
  <xacro:property name="HEAD_JOINT1_LOWER_LIMIT" value="-0.401425727959"/>
  <xacro:property name="HEAD_JOINT1_UPPER_LIMIT" value="1.308996939"/>
  <xacro:property name="HEAD_JOINT1_VEL_LIMIT" value="6.98131700798"/>
  <xacro:property name="LARM_JOINT0_LOWER_LIMIT" value="-1.57079632679"/>
  <xacro:property name="LARM_JOINT0_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="LARM_JOINT0_VEL_LIMIT" value="4.18879020479"/>
  <xacro:property name="LARM_JOINT1_LOWER_LIMIT" value="-2.44346095279"/>
  <xacro:property name="LARM_JOINT1_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="LARM_JOINT1_VEL_LIMIT" value="3.14159265359"/>
  <xacro:property name="LARM_JOINT2_LOWER_LIMIT" value="-1.2217304764"/>
  <xacro:property name="LARM_JOINT2_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="LARM_JOINT2_VEL_LIMIT" value="4.01425727959"/>
  <xacro:property name="LARM_JOINT3_LOWER_LIMIT" value="-1.74532925199"/>
  <xacro:property name="LARM_JOINT3_UPPER_LIMIT" value="3.14159265359"/>
  <xacro:property name="LARM_JOINT3_VEL_LIMIT" value="6.63225115758"/>
  <xacro:property name="LARM_JOINT4_LOWER_LIMIT" value="-1.57079632679"/>
  <xacro:property name="LARM_JOINT4_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="LARM_JOINT4_VEL_LIMIT" value="6.63225115758"/>
  <xacro:property name="LARM_JOINT5_LOWER_LIMIT" value="-2.96705972839"/>
  <xacro:property name="LARM_JOINT5_UPPER_LIMIT" value="2.96705972839"/>
  <xacro:property name="LARM_JOINT5_VEL_LIMIT" value="11.1701072128"/>
  <xacro:property name="RARM_JOINT0_LOWER_LIMIT" value="-1.57079632679"/>
  <xacro:property name="RARM_JOINT0_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="RARM_JOINT0_VEL_LIMIT" value="4.18879020479"/>
  <xacro:property name="RARM_JOINT1_LOWER_LIMIT" value="-2.44346095279"/>
  <xacro:property name="RARM_JOINT1_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="RARM_JOINT1_VEL_LIMIT" value="3.14159265359"/>
  <xacro:property name="RARM_JOINT2_LOWER_LIMIT" value="-1.2217304764"/>
  <xacro:property name="RARM_JOINT2_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="RARM_JOINT2_VEL_LIMIT" value="4.01425727959"/>
  <xacro:property name="RARM_JOINT3_LOWER_LIMIT" value="-3.14159265359"/>
  <xacro:property name="RARM_JOINT3_UPPER_LIMIT" value="1.74532925199"/>
  <xacro:property name="RARM_JOINT3_VEL_LIMIT" value="6.63225115758"/>
  <xacro:property name="RARM_JOINT4_LOWER_LIMIT" value="-1.57079632679"/>
  <xacro:property name="RARM_JOINT4_UPPER_LIMIT" value="1.57079632679"/>
  <xacro:property name="RARM_JOINT4_VEL_LIMIT" value="6.63225115758"/>
  <xacro:property name="RARM_JOINT5_LOWER_LIMIT" value="-2.96705972839"/>
  <xacro:property name="RARM_JOINT5_UPPER_LIMIT" value="2.96705972839"/>
  <xacro:property name="RARM_JOINT5_VEL_LIMIT" value="11.1701072128"/>
</robot>
